<a href="https://colab.research.google.com/github/AlekyaMadiReddy/Alekya_INFO5731_Fall2023/blob/main/MadiReddy_Alekya_Exercise01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (08/30/2023, 40 points in total)**
This exercise is due tomorrow 08/31/203 11:59 PM.

(1) Write a Python program to calculate the area of a rectangle using user-input length and width.

In [29]:
def calculate_area(length, width):

  return length * width


def main():
  # Get the length and width of the rectangle from the user.
  length = float(input("Enter the length of the rectangle: "))
  width = float(input("Enter the width of the rectangle: "))

  # Calculate the area of the rectangle.
  area = calculate_area(length, width)

  # Print the area of the rectangle.
  print("The area of the rectangle is", area)


if __name__ == "__main__":
  main()

Enter the length of the rectangle: 8
Enter the width of the rectangle: 6
The area of the rectangle is 48.0

(2) Create a program that takes two numbers from the user and swaps their values without using a temporary variable.

In [1]:
def swap_numbers(num1, num2):
  num1 = num1 + num2
  num2 = num1 - num2
  num1 = num1 - num2
  return num1, num2

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("before swapping the numbers are:", num1, num2)
num1, num2 = swap_numbers(num1, num2)
print("after swapping the numbers are:", num1, num2)

Enter the first number: 6
Enter the second number: 9
before swapping the numbers are: 6 9
after swapping the numbers are: 9 6

(3) Write a Python program to calculate the length of a string.

In [4]:
def length_of_string(str1):
  length = 0
  for i in str1:
    length += 1
  return length

str1 = "College of Information"
print("The length of the string is:", length_of_string(str1))

The length of the string is: 22

(4) Write a Python program to count the number of characters in a string.

Sample String : 'google.com‘,

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [5]:
def count_characters(str1):
  char_counts = {}
  for char in str1:
    if char in char_counts:
      char_counts[char] += 1
    else:
      char_counts[char] = 1
  return char_counts

str1 = "DATA SCIENCE"
print(count_characters(str1))

{'D': 1, 'A': 2, 'T': 1, ' ': 1, 'S': 1, 'C': 2, 'I': 1, 'E': 2, 'N': 1}

(5) Write a Python program to sum all the items in a list.

In [6]:
def sum_list(list1):
  sum = 0
  for num in list1:
    sum += num
  return sum

list1 = [9, 8, 7, 6, 5]
print("The sum of the list is:", sum_list(list1))

The sum of the list is: 35

(6) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself.

Sample String : 'restart‘,

Expected Result : 'resta\$t'

In [7]:
def replace_char(str1):
  first_char = str1[0]
  new_str = ""
  for char in str1:
    if char == first_char:
      new_str += "$"
    else:
      new_str += char
  return new_str

str1 = "UNIVERSITY"
print(replace_char(str1))

$NIVERSITY

(7) Create a program that calculates the factorial of a number using a while loop.

In [9]:
def factorial(n):
  factorial = 1
  i = 1
  while i <= n:
    factorial *= i
    i += 1
  return factorial

number = 9
print("The factorial of", number, "is", factorial(number))

The factorial of 9 is 362880

(8) Create a program that takes a list of numbers as input and outputs a new list with only the even numbers.

In [10]:
def get_even_numbers(list1):
  even_numbers = []
  for num in list1:
    if num % 2 == 0:
      even_numbers.append(num)
  return even_numbers

list1 = [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
even_numbers = get_even_numbers(list1)
print(even_numbers)

[22, 24, 26, 28, 30]

(9) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where

$\ S=3.14*(1+a/b)^3$

In [11]:
def calculate_s(a, b):
  S = 3.14 * (1 + a / b) ** 3
  return S

a = 4
b = 5
S = calculate_s(a, b)
print("S = ", S)

S =  18.312480000000004

(10) Write a Python program to concatenate following dictionaries to create a new one.

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [14]:
dict1 = {1: 10, 2: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}

dict4 = dict1.copy()
dict4.update(dict2)
dict4.update(dict3)

print(dict4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(11) Write a Python function that accepts a tuple of integers and returns the largest and smallest elements.

In [15]:
def find_largest_smallest(nums):
  largest = nums[0]
  smallest = nums[0]
  for num in nums:
    if num > largest:
      largest = num
    elif num < smallest:
      smallest = num
  return largest, smallest

nums = (100, 24, 32, 49, 67)
largest, smallest = find_largest_smallest(nums)
print("The largest number is", largest)
print("The smallest number is", smallest)

The largest number is 100
The smallest number is 24

(12) Write a Python program that counts the frequency of each character in a given string and stores it in a dictionary.

In [16]:
def count_characters(str1):
  char_counts = {}
  for char in str1:
    if char in char_counts:
      char_counts[char] += 1
    else:
      char_counts[char] = 1
  return char_counts

str1 = "DATA SCIENCE"
char_counts = count_characters(str1)
print(char_counts)

{'D': 1, 'A': 2, 'T': 1, ' ': 1, 'S': 1, 'C': 2, 'I': 1, 'E': 2, 'N': 1}

(13) Write a Python program to check whether an element exists within a tuple.

In [17]:
def check_element_exists(tuple1, element):
  exists = False
  for ele in tuple1:
    if ele == element:
      exists = True
      break
  return exists

tuple1 = (10, 20, 30, 40, 50)
element = 30

print(check_element_exists(tuple1, element))

True

(14) Write a Python program to find maximum and the minimum value in a set.

In [18]:
def find_min_max(set1):
  min_value = min(set1)
  max_value = max(set1)
  return min_value, max_value

set1 = {100, 34, 22, 19, 7}
min_value, max_value = find_min_max(set1)
print("The minimum value in the set is", min_value)
print("The maximum value in the set is", max_value)

The minimum value in the set is 7
The maximum value in the set is 100

(15) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list:
student_list_fall_2023=['sb1826' ,
 'lb0582' ,
 'ab1820' ,
 'sb1883' ,
 'mb1296' ,
 'sc1622' ,
 'tc0469' ,
 'ac1770' ,
 'mc1453' ,
 'ad1187' ,
 'sd0926' ,
 'sd1268' ,
 'ag1609' ,
 'sg1638' ,
 'mg1299' ,
 'vkk0022' ,
 'bk0413' ,
 'gk0257' ,
 'am2807' ,
 'gm0558' ,
 'pm0658' ,
 'am2346' ,
 'rm1090' ,
 'sm2364' ,
 'sm2747' ,
 'sm2343' ,
 'vm0597' ,
 'htn0086' ,
 'sp2075' ,
 'gp0306' ,
 'lp0502' ,
 'sr1508' ,
 'vr0331' ,
 'yr0180' ,
 'as2819' ,
 'ss2981' ,
 'ns0756' ,
 'mt0825' ,
 'dt0463' ,
 'su0137' ,
 'dv0310'
]

In [32]:
import random

def divide_Students_IntoGroups(student_list, min_group_size, max_group_size):
    random.shuffle(student_list)
    groups = []
    i = 0

    while i < len(student_list):
        group_size = random.randint(min_group_size, max_group_size)
        group = student_list[i:i+group_size]
        groups.append(group)
        i += group_size

    return groups

try:
    student_list_fall_2023 = ['sb1826', 'lb0582', 'ab1820', 'sb1883', 'mb1296', 'sc1622', 'tc0469', 'ac1770',
                              'mc1453', 'ad1187', 'sd0926', 'sd1268', 'ag1609', 'sg1638', 'mg1299', 'vkk0022',
                              'bk0413', 'gk0257', 'am2807', 'gm0558', 'pm0658', 'am2346', 'rm1090', 'sm2364',
                              'sm2747', 'sm2343', 'vm0597', 'htn0086', 'sp2075', 'gp0306', 'lp0502', 'sr1508',
                              'vr0331', 'yr0180', 'as2819', 'ss2981', 'ns0756', 'mt0825', 'dt0463', 'su0137', 'dv0310']

    min_group_size = 4
    max_group_size = 6

    student_groups = divide_Students_IntoGroups(student_list_fall_2023, min_group_size, max_group_size)

    for group_number, group in enumerate(student_groups, start=1):
        print(f"Group {group_number}: {group}")
except Exception as e:
    print("An error occurred:", e)

Group 1: ['ad1187', 'ab1820', 'vm0597', 'rm1090', 'sm2343', 'ns0756']
Group 2: ['sp2075', 'sm2364', 'gm0558', 'sd0926', 'as2819']
Group 3: ['am2346', 'mb1296', 'lp0502', 'ag1609']
Group 4: ['bk0413', 'vr0331', 'sb1826', 'am2807']
Group 5: ['tc0469', 'sr1508', 'sd1268', 'ss2981', 'ac1770']
Group 6: ['dv0310', 'yr0180', 'sb1883', 'mc1453', 'lb0582']
Group 7: ['htn0086', 'gk0257', 'mt0825', 'dt0463', 'vkk0022', 'gp0306']
Group 8: ['su0137', 'sc1622', 'pm0658', 'sm2747', 'sg1638', 'mg1299']

(16) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements.

In [22]:
def find_duplicates(array):
  seen = set()
  duplicates = []
  for num in array:
    if num in seen:
      duplicates.append(num)
    else:
      seen.add(num)

  if not duplicates:
    return -1
  else:
    return duplicates

array = [1, 1, 2, 2, 3, 4, 5]
duplicates = find_duplicates(array)
print(duplicates)

[1, 2]

(17) Write a Python program to select all the Sundays of a specified year.

In [27]:
import datetime

def getsundays(year):
    sundays = []
    for month in range(1, 13):
        for day in range(1, 32):
            try:
                date = datetime.date(year, month, day)
                if date.weekday() == 6:
                    sundays.append(date)
            except ValueError:
                pass
    return sundays

specified_year = int(input("Enter a year: "))
sundays = getsundays(specified_year)

print(f"Sundays in {specified_year}:")
for sunday in sundays:
    print(sunday)

Enter a year: 2022
Sundays in 2022:
2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25

(18) Build a program that calculates the factorial of a given positive integer. The factorial of a non-negative integer n is the product of all positive integers less than or equal to n.

In [24]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

number = int(input("Enter a positive integer: "))
factorial = factorial(number)
print("The factorial of", number, "is", factorial)

Enter a positive integer: 10
The factorial of 10 is 3628800

(19) Write a program that takes a positive integer n as input and prints the count of even numbers from 1 to n. Use a loop to iterate through the numbers and utilize the break statement to optimize the loop.

In [31]:
def count_evennumbers(n):
  count = 0
  i = 1
  while i <= n:
    if i % 2 == 0:
      count += 1
    i += 1
  return count

number = int(input("Enter a positive number: "))
even_count = count_evennumbers(number)
print("The number of even numbers from 1 to", number, "is", even_count)

Enter a positive number: 250
The number of even numbers from 1 to 250 is 125

(20) Write a Python function called count_vowels that takes a string as input and returns the count of vowels (both lowercase and uppercase) present in the string. Consider the vowels to be 'a', 'e', 'i', 'o', and 'u'. Ignore spaces and other non-alphabetic characters.

In [30]:
def count_vowels(string):
  vowels = "aeiouAEIOU"
  count = 0
  for char in string:
    if char in vowels:
      count += 1
  return count

string = input("Enter a string: ")
vowelcount = count_vowels(string)
print("The number of vowels in the string is", vowelcount)

Enter a string: College Of Information
The number of vowels in the string is 9